name: Release

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  release:
    if: github.repository == 'zCloak-Network/zkid-credential'
    runs-on: ubuntu-latest
    env:
      YARN_ENABLE_SCRIPTS: false
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: "16"
          cache: "yarn"

      - name: Install deps
        run: |
          yarn install --immutable | grep -v 'YN0013'

      - name: build:release
        run: yarn run build:release

      - name: Generate release description
        run: yarn run get-release-text

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          draft: false
          files: zkid-credential.zip
          body_path: RELEASE.md

